<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>298018063538-eb55pqq6v5el97pq0kgtvudbgg78rn6g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.298018063538-eb55pqq6v5el97pq0kgtvudbgg78rn6g</string>
	<key>API_KEY</key>
	<string>AIzaSyBBNCuk2pbXu2RccVCpNAyArpOqRSfSV4I</string>
	<key>GCM_SENDER_ID</key>
	<string>298018063538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blacenova.sample.FetchingOTPAutoSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>fetchingotpautoswiftui</string>
	<key>STORAGE_BUCKET</key>
	<string>fetchingotpautoswiftui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298018063538:ios:7177944c66991004f635ab</string>
</dict>
</plist>